@import '../mixin/vendor-prefix';

.autocomplete {
  width: 100%;
  font-size: 1.3rem;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 0.5rem;

  .options {
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    display: none;
    background: white;

    @include prefix(box-shadow, "rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px");

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        width: 100%;
        display: block;
        box-sizing: border-box;
        color: #333333;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        @include prefix(transition, all 0.1s ease);

        &:hover {
          color: #a1a1a1;
          background: #EEEEEE;
        }
      }
    }
  }

  .options.show {
    display: block;
  }

}
