
.gridcontainer[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { float: left; background-color: white;}
.size-1of3 { width: 33.333%; }
