
@import "./core/material-icons";
@import './core/LeftNavigationBar';
@import "./core/paper/PaperInput";

@import "./core/Modal";
@import "./core/paper/TableControl";
@import "./mixin/vendor-prefix";
@import "./mixin/box-shadow";
@import "./core/paper/Snackbar";
@import "./core/paper/PaperList";
@import "./core/ProgressBar";
@import "./core/paginate";
@import "./core/paper/Picker";
@import "./core/paper/IconMenu";
@import "./core/paper/Slider";
@import "./core/paper/Checkbox";
@import "./core/paper/Switch";
@import "./core/paper/RadioElement";
@import "./core/paper/Tabs";
@import "./core/paper/PaperButton";
@import "./core/paper/FabButton";
@import "./core/paper/FabButtonGroup";
@import "./core/paper/IconButton";
@import "./core/paper/List";
@import "./core/paper/Accordian";
@import "./core/Timeline";
@import "./core/paper/FileInput";
@import "./core/paper/labels";
@import "./core/paper/Card";
@import "./core/Wizard";

@font-face {
  font-family: "Material Icons";
  src: url('../../icons/MaterialIcons-Regular.ttf');
}

@font-face {
  font-family: 'Riona';
  src: url('../../fonts/Riona/Mika Melvas - RionaSans-Thin.ttf');
}

@font-face {
  font-family: "Riona-Medium";
  src: url('../../fonts/Riona/Mika Melvas - RionaSans-Light.ttf');
}

/** basic styling */
$font-stack: 'Riona';
$primary-color: #666666;

$link-normal-color: #444444;

a {
  font-family: "Riona-Medium";
  text-transform: uppercase;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
}

.boldFont {
  font-family: 'Riona-Medium';
}

.filterinput {
  display: block;
  position: relative;

  .material-icons {
    position: absolute;
    right: 0;
    top: 35%;
    font-size: 1.8rem;
  }
}

/** tooltip adjustment */
.tooltip-arrow {
  display: none;
}
.tooltip-inner {
  font-family: "Riona";
  border-radius: 2px;
  padding: 0.5rem;
  background-color: #343434;
  white-space: nowrap;
}
