

.checkbox {
  display: table;

  label {
    line-height: 1.5rem;
    margin-left: 0.5rem;
  }

  > div {
    margin-right: 30px;
  }

  .check {
    display: inline-block;
    position: relative;

    .box, .tick, .ripple {
      position: absolute;
      left: 0;
      top:0;
    }

    .ripple {
      left: 0px;
      top:0px;
      width: 40px;
      height: 40px;
      margin-left: -10px;
      margin-top: -10px;
      border-radius: 50%;
      background-color: rgba(0,0,0,0.1);
      transform: scale(0);
      opacity: 0;
    }

    .ripple.checked {
      animation: rippleshow 0.3s ease forwards;
    }

    @keyframes rippleshow {
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    .box {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 2px solid black;
      transition: all 0.2s ease;
    }
    .box.checked {
      height: 10px;
      border: 2px solid #1976D2;
      border-top: 0;
      border-right: 0;
      transform: rotateZ(-45deg);
    }

    .tick {
      width: 20px;
      height: 10px;
      border: 2px solid #1976D2;
      border-top: 0;
      border-right: 0;
      opacity: 0;
      transition: opacity 0.4s ease, transform 0.4s ease;
    }
    .tick.checked {
      //opacity: 1;
      //transform: rotateZ(-45deg);
    }
  }
}
