
.icondiv {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5rem;
  line-height: 45px;
  background-color: #BDBDBD;
  color: white;
}

.icondiv > .material-icons {
  font-size: 2rem;
}
