@import "../../mixin/vendor-prefix";
@import "../../mixin/box-shadow";

.paperbutton {
  padding: 1rem;
  padding-top: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #4285f4;
  color: white;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1rem;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  @include prefix(box-shadow, "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");

  > div {
    display: table-cell;
    vertical-align: middle;
    padding-right: 0.5rem;
  }

  > div:nth-child(2) {
    padding-top: 0.4rem;
  }

  .material-icons {
    font-size: 1.7rem;
  }


  &:hover {
    @include prefix(box-shadow, "0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)");
  }

  > .ink{
    position: absolute;
    background: rgba(230, 230, 230, 0.7);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    box-sizing:border-box;
    opacity: 0.3;
    @include prefix(transform, scale(0));
  }

  > .ink.animate{
    @include prefix(animation, ripple 0.4s linear);
  }

  @-webkit-keyframes ripple{
  	  0% {
  	  	-webkit-transform:scale(0);
  	}
      100% {
           opacity: 0;
          -webkit-transform:scale(7.5);

      }
  }
  @-moz-keyframes ripple{
  	  0% {
  	  	-moz-transform:scale(0);
  	}
      100% {
           opacity: 0;
          -moz-transform:scale(7.5);

      }
  }
  @keyframes ripple{
  	  0% {
  	  	transform:scale(0);
  	}
      100% {
        opacity: 0;
        transform:scale(7.5);

      }
  }

}

.paperbutton.link {
  box-shadow: none;
  background-color: transparent;
  color: #666666;

  &:hover {
    background-color: rgba(0,0,0,0.06);
    @include generate-box-shadow(0);
  }

  > .ink{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    box-sizing:border-box;
    opacity: 0.3;
    @include prefix(transform, scale(0));
  }
}

/** Flat Button */
.flatbutton {
  padding: 1rem;
  padding-top: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1rem;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: none;
  background-color: transparent;
  color: #666666;

  &:hover {
    background-color: rgba(0,0,0,0.06);
  }

  > .ink{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    box-sizing:border-box;
    opacity: 0.3;
    @include prefix(transform, scale(0));
  }

  > .ink.animate{
    @include prefix(animation, ripple 0.4s linear);
  }

  @-webkit-keyframes ripple{
  	  0% {
  	  	-webkit-transform:scale(0);
  	}
      100% {
           opacity: 0;
          -webkit-transform:scale(7.5);

      }
  }
  @-moz-keyframes ripple{
  	  0% {
  	  	-moz-transform:scale(0);
  	}
      100% {
           opacity: 0;
          -moz-transform:scale(7.5);

      }
  }
  @keyframes ripple{
  	  0% {
  	  	transform:scale(0);
  	}
      100% {
        opacity: 0;
        transform:scale(7.5);

      }
  }
}

.flatbutton.green {
  color: #009688;
}

.flatbutton.amber {
  color: #FFC107;
}

.flatbutton.red {
  color: #D32F2F;
}

.paperbutton.link.success {
  color: #009688;
}

.paperbutton.link.warning {
  color: #FFC107;
}

.paperbutton.link.error {
  color: #D32F2F;
}

.paperbutton.default {
  background-color: #f1f1f1;
  color: #666666;
}


.paperbutton.danger {
  background-color: #D32F2F;
  color: white;
}

.paperbutton.amber {
  background-color: #FFA000;
}

.paperbutton.green {
  background-color: rgb(52, 168, 83);
}

.paperLink {
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1rem;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  color: #4285f4;

  > .ink{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    box-sizing:border-box;
    opacity: 0.3;
    @include prefix(transform, scale(0));
  }
}
