
.switch {
  position: relative;
  width: 33px;
  height: 14px;
  border-radius: 14px;
  background-color: #d9d9d9;
  transition: background-color 0.2s ease;

  .ball {
    position: absolute;
    z-index: 3;
    left: 0;
    top: -3.5px;
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
    border-radius: 50%;
    transition: left 0.2s ease;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
  }
  .ball.checked {
    background-color: #1e88e5;
    left: calc(100% - 20px);
  }
  .ball.green.checked {
    background-color: #27AE60;
  }
  .ball.amber.checked {
    background-color: #FFA000;
  }
  .ball.danger.checked {
    background-color: #D32F2F;
  }
}

.switch.checked {
  background-color: #42A5F5;
}

.switch.green.checked {
  background-color: #2ECC71;
}

.switch.amber.checked {
  background-color: #FFC107;
}

.switch.danger.checked {
  background-color: #EF5350;
}
