
/** Theme Color swatches */
$blue900: #0D47A1;
$blue800: #1565C0;
$blue700: #1976D2;
$blue600: #1E88E5;
$blue500: #2196F3;

$green900: #1B5E20;
$green800: #2E7D32;
$green700: #388E3C;
$green600: #43A047;
$green500: #4CAF50;

$orange900: #E65100;
$orange800: #EF6C00;
$orange700: #F57C00;
$orange600: #FB8C00;
$orange500: #FF9800;

$red900: #B71C1C;
$red800: #C62828;
$red700: #D32F2F;
$red600: #E53935;
$red500: #F44336;
