
@mixin createRippleCSS($animationName, $rippleColor, $scaleSize, $animationTime:0.5s){

  .ink{
    position: absolute;
    background: $rippleColor;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    box-sizing:border-box;
    opacity: 0.3;
    transform:scale(0);
  }

  .ink.animate{
    animation: $animationName $animationTime linear;
  }

  @keyframes #{$animationName} {
      0% {
        transform:scale(0);
      }
      100% {
        opacity: 0;
        transform:scale($scaleSize);
      }
  }

}
